@import "_btn";
@import "_variables";

#about {
    width: 100%; 
}
.container {
margin: 92px 0 120px 0;    
}
.presentation-text-layout { 
font-size: clamp(1rem, 5vw, 1.2rem);
}

.presentation-text {
    line-height: 2rem;
    word-wrap: balance; 
}

.presentation-author {
    margin-top: 30px;
}

.presentation-img {
    max-width: 100%; 
    height: auto;
    margin-top: 40px;
    margin-left : 40px;
}

/* RESPONSIVE */
@media only screen and (max-width: 711px) { 
    .container {
        margin: 55px 0 80px 0;    
        }

    .presentation-img {
        margin-top: 15px; 
        margin-left:20px;
    }
  }

  @media only screen and (min-width: 712px) and (max-width: 768px) { 
    .container {
        margin: 50px 0 50px 0;    
        }
  }

@media screen and (min-width: 769px) and (max-width: 992px) {
    .container {
        margin: 70px 0 74px 0;    
        }
      }
