@import "_btn";
@import "_variables";

#about {
    width: 100%; 
}
.container {
margin: 40px 0 145px 0;    
}
.presentation-text-layout { 
font-size: clamp(1rem, 5vw, 1.2rem);
}

.presentation-text {
    line-height: 2rem;
    word-wrap: balance; 
}

.presentation-author {
    margin-top: 30px;
}

.presentation-img {
    max-width: 100%; 
    height: auto;
    margin-top: 20px;
}

/* RESPONSIVE */
@media screen and (max-width: 768px) {

    .presentation-text-layout {
        margin-top: 20px; 
    }
    .presentation-img {
        margin-top: 15px; 
        margin-left:30px;
    }

}

@media screen and (min-width: 769px) and (max-width: 992px) {
.presentation-text-layout {
    margin-top: 30px ; 
    margin-bottom :30px;
}
.presentation-img {
    margin-top: 220px; 
    margin-left:30px;
}
  }
