

@mixin formLayout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 90%; 
    max-width: 600px; 
    margin: auto;
}


@mixin formTitle{
    font-size: 2em;
    text-align: center;
    margin-bottom: 2.5%; 
    text-transform: uppercase;
}

@mixin formFieldLabel{
    display: block;
    color: #777;
    margin-bottom: 1.25%; 
}


@mixin formFieldInputSelect{
    border: solid 2px #f0f0f0;
    border-radius: 3px;
    padding: 0.4em;
    margin-bottom: 2.5%; 
    font-size: 1.2em; 
    display: block;
    width: 100%;
}


@mixin formSmall{
    color: $error-color;
    font-size: 0.9em;
}

@mixin fieldIcon{
    position: absolute;
    z-index: 2;
    color: black;
    float:right;
   }
