#home {
    width: 100%;
  }
  
  #home-photo {
    background-image: url("../../img/autres/beausset.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 24rem; 
    width: 100%;
  }
  .home-description-block {
    display: block;
    width: 100%;
    margin-top: 20px;
    font-size: clamp(1rem, 5vw, 1.2rem);
  }
  .home-description-flex {
    display: flex;
    flex-flow: column nowrap;
    margin:auto;
    width: 90%;
  }
  
  .home-description {
    font-family: "Roboto-Regular", sans-serif;
    text-align: center;
    line-height: 2rem;
    text-wrap: balance;
  }
  
  h1 {
    overflow-wrap: break-word;
    margin-bottom: 2rem !important;
  }
  
  #home-text {
  text-align: center;
  }

  .home-line{
    width:40%;
    height:0.21rem;
    background-color: $c-purple;
   margin: 20px auto 60px auto;
  }


  /* RESPONSIVE */
  @media only screen and (max-width: 711px) { 
    #home-photo {
      height: 15rem;
    }
  }

  @media only screen and (min-width: 712px) and (max-width: 767px) { 
    .home-description-block {
      margin-top: 35px; 
    }
.home-line{
  margin: 25px auto 30px auto;
 }
  }

 
@media screen and (min-width: 768px) and (max-width: 992px) {
  .home-description-block {
        margin-top: 60px; 
      }
  .home-line{
    margin: 50px auto 143px auto;
   }
}

@media screen and (min-width: 993px) {
  .home-line{
    margin: 20px auto 60px auto;
   }
}




  
  