
@import "_variables";
@import "_btn";
@import "_form";

#login {
  @include formLayout;
   position: fixed; 
   top: 50%; 
   left: 50%;
   transform: translate(-50%, -50%); 
   z-index: 1000; 
   display: none; 
}
 
#loginForm {
   padding: 10px 20px;
   display: flex;
   flex-flow: column nowrap;
   width: 100%;
}

#loginForm h2 {
 @include formTitle;
}

.form-field{
   position:relative;
}

.form-field-center {
   margin-bottom: 7px;
   display: flex;
   flex-flow: column nowrap;
   width: 100%;
   font-size: clamp(1rem, 5vw, 1.2rem);
   text-align: center;
}

.form-field label {
@include formFieldLabel;
}

.form-field input, .form-field select {
   @include formFieldInputSelect;
}

.form-field input:focus, .form-field select:focus {
   outline: none;
}

.form-field.error input {
   border-color: $error-color;
}
.form-field.error select {
 border : 2px solid $error-color;
}

.form-field.success input {
   border-color: $success-color;
}
.form-field.success select {
 border : 2px solid $success-color;
}

.form-field small {
  @include formSmall; 
}

.field-icon-login {
   @include fieldIcon;
 transform: translateY(-50%);
 top: 53px;
 right: 35px;

}

.forgot-password:visited,
.register-button:visited,
.forgot-password:active,
.register-button:active {
   color: inherit;
   text-decoration: none;
}

.login-button {
   @include btn;
   text-align: center;
   margin: auto;

   &:hover {
       @include hover;
   }
}