@import "_btn";
@import "_variables";

header{
  position: relative;
}

.navbar {
  box-sizing: border-box;
  background-color: $c-brown;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto-Regular', sans-serif;
  height: auto; 
}

.navbar-logo img {
  height: 2.5rem;
  width: auto; 
  margin-bottom: 0.5rem;
  margin-left: 1.25rem;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  font-size: clamp(15px, 1.17vw, 18px);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.8px;

  li {
    position: relative;

    a {
      text-decoration: none;
      color: $c-white;

      &:hover {
        color: $c-purple;
      }

      &::before {
        content: "";
        display: block;
        height: 3px;
        width: 0%;
        background-color: $c-purple;
        position: absolute;
        transition: all ease-in-out 250ms;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }

      &:hover::before {
        width: 80%;
      }
    }
  }

  .login-button {
    @include btn;

    &:hover {
      @include hover;
    }
  }
}

.hamburger {
padding-top: 0.4rem;
width: 37px;
height:37px;
display: flex;
justify-content: center;
align-items: center;
display: none;

  .hamburger-line1,
  .hamburger-line2,
  .hamburger-line3 {
  width: 50%;
  height: 0.20rem;
  background: $c-white;
  }

  .hamburger-line2{
    margin:4.5px 0;
  }
}

.hamburger.toggle .hamburger-line1 {
  transform: rotate(-45deg) translate(-0.3rem, 0.37rem);
  z-index:2;
}
.hamburger.toggle .hamburger-line2 {
opacity:0;
}

.hamburger.toggle .hamburger-line3 {
  transform: rotate(45deg) translate(-0.3rem, -0.37rem);
  z-index:2;
}


/* RESPONSIVE */
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 1.25rem;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }

  .navbar {
    padding: 0.5rem 1.25rem;
  }

  .nav-links {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80%;
    background: #131418;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-out;
    pointer-events: none; 
    padding-top: 3.75rem;
    z-index: 1; 
  }

  .open {
    display: flex; 
    pointer-events: auto; 
  }

  .nav-links li {
    opacity: 0;
    transition: all 0.5s ease;
    margin: 0 0 1rem;
  }

  .nav-links.open li {
    opacity: 1; 
  }
}

.cart-img{
  position: relative;
}

  .count-nb{
    content: attr(data-count); 
  position: absolute;
  float:right;
  top:10px;
text-align: center;
  transform: translateX(-50%);
    background-color: $c-purple;
    color: white; 
    border-radius: 50%; 
    width: 20px; 
    height: 20px;
    font-size: 12px; 
    font-weight: bold;
    display: none; 
}

@media screen and (max-width: 768px) {
 .cart-img{
    height:2.5rem !important;
    width:2.6rem !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .navbar-logo img {
    height: 2rem;
    width: 2rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
  }
  .nav-links li a {
    margin: 0 0.5rem;
  }
}

@media screen and (min-width: 993px) {
  .navbar {
    padding: 1rem 2.5rem;
  }
  .nav-links li {
    margin-left: 1rem; 
  }
}
