#confidentialPolicy{
    width:100%;
  
}

h4 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 2.5rem !important;
}

h5 {
    margin-top: 1.5rem !important;
}
.confidential-text {
    width: 95%;
    margin: 1rem auto;
    padding: 0 1.25rem;
    line-height: 2rem;
    font-size: clamp(1rem, 5vw, 1.2rem);
}
.confidential-update {
    font-size: clamp(0.5rem, 3vw, 0.8rem);
    margin: 1rem auto; 
}
