
$c-purple:rgb(146, 101, 218);
$c-blue:#61DAFB;
$c-white:#ffffff;
$c-brown:#aba9a9;


$g-shadow:rgba(255,255,255,.5);
$g-shadow1:rgba(116, 125, 136, .5);
$g-shadow2:rgba(255,255,255,.2);

$error-color:red;
$success-color:green ;  